/* 네비게이션 바 */
@import url("https://fonts.googleapis.com/css2?family=Poor+Story&display=swap");

.navbar {
  background-color: #444749;
  color: white;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poor Story";
}

.navbar .logo {
  font-size: 20px;
  font-weight: bold;
}

.navbar .menu a,
.navbar .menu button {
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: white;
  margin-left: 16px;
  font-family: "Poor Story";
}

.navbar .menu a:hover,
.navbar .menu button:hover {
  text-decoration: underline;
}
